
<div style="margin-top:24px;margin-bottom:12px;display: block;">
<hr/>
</div>
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '${title}', // 可选。默认为 location.href
  owner: 'daimin',
  repo: 'daimin.github.com',
  oauth: {
    client_id: '77f443870397c7d22754',
    client_secret: '7dfb40a18b6bc6962686748e3a46e0581ad024d2',
  },
})
gitment.render('container')
</script>
