## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

<%block name="header">
</%block>

<%block name="main">
<div id="sidebar">
        <ul>
            <li>
                <a href="/index.html">首页</a>
                <ul>
                    % for tag in sidetags:
                        <li><a href="${tag.url}" title="${tag.title}"> ${tag.title}</a></li>
                    % endfor
                </ul>
            </li>
            <li><a href="/tags/">标签</a></li>
            <li><a href="http://${domain}/rss.xml">订阅</a></li>
            <li><a href="http://tologd.duapp.com/photo/">相册</a></li>
            % for post in sideposts:
                <li><a href="${post.url}" title="${post.title}">${post.title}</a></li>
            % endfor
            
        </ul>
    </div>
<div id="main">
        <ul id="tags">
        % for tag in tags:
            <li><a href="${tag.url}">${tag.title}<span>(${tag.count})</span></a></li>
        % endfor
        </ul>
</div>
</%block>